<section
  id="project-section"
  class="projects-section pt-120 pb-120 br-bottom-n3"
>
  <div class="container">
    <div
      class="d-flex gap-3 flex-wrap flex-xxl-nowrap justify-content-between align-items-end mb-8 mb-md-15"
    >
      <div data-aos="zoom-in-left" class="section-heading aos-init aos-animate">
        <div class="d-flex align-items-center gap-2">
          <h2 class="display-four n5-color fw-semibold">Projects</h2>
        </div>
        <p style="max-width: 44rem" class="fs-seven mt-2 mt-md-4">
          Your text here My step-by-step guide ensures a smooth project journey,
          from the initial consultation to the final delivery. I take care of
          every detail, allowing you to focus on what you do best.
        </p>
      </div>

      <a
        data-aos="zoom-in-right"
        href="portfolio"
        class="btn fw-medium px-3 px-md-6 py-2 py-md-4 rounded-pill d-flex align-items-center h-100 text-nowrap aos-init aos-animate View"
      >
        View Portfolio
      </a>
    </div>

    <div class="row g-7 g-md-8">
      <div
        data-aos="fade-up"
        data-aos-duration="800"
        class="col-xl-6 aos-init aos-animate"
      >
        <div class="project-card">
          <div class="post-thumb-inner">
            <img src="assets\P-1.PNG" alt="..." class="w-100" />
          </div>

          <div
            class="project-text d-flex align-items-center pt-4 pt-md-8 px-3 px-md-6 justify-content-between"
          >
            <div>
              <div class="d-flex flex-wrap gap-2 align-items-center">
                <a
                  href="#"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >Html</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >CSS</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >Web Development</a
                >
              </div>
              <a
                href="https://ommnifood-mahmoud-shomans-projects.vercel.app/"
                class="project-title fs-five fw-semibold n5-color mt-3 mt-md-5 d-block"
              >
                ommnifood projects
              </a>
            </div>
            <a
              href="https://ommnifood-mahmoud-shomans-projects.vercel.app/"
              class="project-link d-flex align-items-center justify-content-center flex-shrink-0 btns"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                fill="#fff"
                viewBox="0 0 256 256"
                class="ph-bold ph-arrow-up-right"
              >
                <path
                  d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-up"
        data-aos-duration="800"
        class="col-xl-6 aos-init aos-animate"
      >
        <div class="project-card">
          <div class="post-thumb-inner">
            <img src="assets\pro-2.PNG" alt="..." class="w-100" />
          </div>

          <div
            class="d-flex justify-content-between gap-2 align-items-center pt-4 pt-md-8 px-3 px-md-6"
          >
            <div>
              <div class="d-flex gap-2 align-items-center">
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >CSS</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >html</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >Web Development</a
                >
              </div>
              <a
                href="https://furniture-shop-peach.vercel.app/"
                class="project-title fs-five fw-semibold mt-3 mt-md-5 d-block"
              >
                Furniture shop
              </a>
            </div>
            <a
              href="https://furniture-shop-peach.vercel.app/"
              class="project-link d-flex align-items-center justify-content-center flex-shrink-0 btns"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                fill="#fff"
                viewBox="0 0 256 256"
                class="ph-bold ph-arrow-up-right n5-color"
              >
                <path
                  d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-up"
        data-aos-duration="700"
        class="col-xl-6 aos-init aos-animate"
      >
        <div class="project-card">
          <div class="post-thumb-inner">
            <img src="\assets\3.1.PNG" alt="..." class="w-100" />
          </div>

          <div
            class="d-flex justify-content-between gap-2 align-items-center pt-4 pt-md-8 px-3 px-md-6"
          >
            <div>
              <div class="d-flex gap-2 align-items-center">
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >javascript</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >html</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >Web Development</a
                >
              </div>
              <a
                href="https://bank-website-jade.vercel.app/"
                class="project-title fs-five fw-semibold n5-color mt-3 mt-md-5 d-block"
              >
                bank-website
              </a>
            </div>
            <a
              href="https://bank-website-jade.vercel.app/"
              class="project-link d-flex align-items-center justify-content-center flex-shrink-0 btns"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                fill="#fff"
                viewBox="0 0 256 256"
                class="ph-bold ph-arrow-up-right n5-color"
              >
                <path
                  d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-up"
        data-aos-duration="800"
        class="col-xl-6 aos-init aos-animate"
      >
        <div class="project-card">
          <div class="post-thumb-inner">
            <img src="assets\3.2.PNG" alt="..." class="w-100" />
          </div>

          <div
            class="d-flex justify-content-between gap-2 align-items-center pt-4 pt-md-8 px-3 px-md-6"
          >
            <div class="text-project">
              <div class="d-flex gap-2 align-items-center">
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >Angular</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >typescript</a
                >
                <a
                  href="javascript:void(0)"
                  class="fs-nine px-2 px-md-4 py-1 py-md-2 brn3 rounded-pill fw-medium"
                  >Web Development</a
                >
              </div>
              <a
                href="#"
                class="project-title fs-five fw-semibold n5-color mt-3 mt-md-5 d-block"
              >
                e-commerse
              </a>
            </div>
            <a
              href="#"
              class="project-link d-flex align-items-center justify-content-center flex-shrink-0 btns"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                fill="#fff"
                viewBox="0 0 256 256"
                class="ph-bold ph-arrow-up-right n5-color"
              >
                <path
                  d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
