<div class="home">
  <div class="home-text">
    <h4>HI, I'M A FREELANCER</h4>
    <h1>Frontend developer</h1>
    <p>
      I'm a software engineer specializing in scalable web apps. Explore my
      blog, project portfolio and online resume
    </p>
    <div class="home-bttun">
      <a href="#" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#fff"
          viewBox="0 0 256 256"
        >
          <path
            d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
          ></path>
        </svg>

        Veiw resume
      </a>
    </div>
  </div>
  <div class="home-image">
    <div class="img-backgroudt user-bg">
      <div class="img-backgroud">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="550"
          height="550"
          viewBox="-25 -25 250 250"
          class="float"
        >
          <defs>
            <linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%">
              <stop
                offset="0%"
                style="stop-color: var(--main-a); stop-opacity: 1"
              />
              <stop
                offset="100%"
                style="stop-color: var(--main-c); stop-opacity: 1"
              />
            </linearGradient>
          </defs>
          <path
            d="M144.05054955618655 10.225008583693239 C98.5044799664295 -7.584532706205074 8.388889631111232 117.44405161797152 23.204302385970138 164.0501430753631 C31.585337779625235 190.41507185105445 106.44669734016242 211.26438574613786 129.26483504361198 195.6220133121562 C167.61518058682577 169.33194548299457 187.3541402757787 27.15769001741401 144.05054955618655 10.225008583693239Z"
            stroke="none"
            fill="url(#lgrad)"
          />
        </svg>
      </div>
      <img class="img-home" src="assets\my202322-removebg-preview.png" alt="" />
    </div>
  </div>
</div>
<div class="home-number">
  <div
    class="banner-counter d-flex flex-wrap flex-xl-nowrap align-items-left gap-5 gap-md-6 mt-10 mt-md-17"
  >
    <div class="d-flex align-items-center gap-2 gap-xl-4">
      <h2 class="display-two fw-semibold p1-color">
        <span class="counter">1</span>
      </h2>
      <div class="line"></div>
      <p class="">Years of Experience</p>
    </div>
    <div class="d-flex align-items-center gap-2 gap-xl-4">
      <h2 class="display-two fw-semibold p1-color">
        <span class="counter">8</span>
      </h2>
      <div class="line"></div>
      <p class="">Projects Completed</p>
    </div>
    <div class="d-flex align-items-center gap-2 gap-xl-4">
      <h2 class="display-two fw-semibold p1-color d-flex gap-1">
        <span class="counter">2</span>
      </h2>
      <div class="line"></div>
      <p class="">Clients Worldwide</p>
    </div>
  </div>
</div>
